a {
    color: rgba(196, 217, 97, 1);
}

body {
    font-family: "lato",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    font-size: 20px;
}

h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 2.5em;
    font-size: 40px;
}

h2 {
    font-family: "lato",sans-serif;
    color: #23466F;
    font-size: 1.75em;
    font-size: 28px;
    text-align: right;
    padding: 1em;
}

h3 {
    font-family: "lato",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: .5em;
    margin-top: 1em;
}

h4 {
    font-family: "lato",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: .08em;
    margin-bottom: .5em;
    margin-top: 1em;
    margin-left: 1em;
}

p {
    text-align: left;
    line-height: 1.8;
}

header {
    font-face: 'Baumans', sans-serif;
    background: #23466F;
    p {
        margin-left: 20px;
        color: white;
        font-size: .75em;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
    }
}

.logo {
    background: url("/i/bear-icon.png");
    background-size: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 1000;
}

nav {
    background: #222b30;
    box-sizing: border-box;
    padding: 15px;
    a:hover {
        text-decoration: none;
        color: #222b30;
        background: rgba(196, 217, 97, 1);
    }
}

.name {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    h1 {
        color: white;
        font-size: 2.0em;
        font-size: 32px;
        box-sizing: border-box;
        padding: 1em 4%;
    }
    img {
        vertical-align: middle;
        margin-right: 10px;
        margin-left: 10px;
        width: 15%;
        max-width: 50%;
    }
}

.hr {
    background: #23466F;
    width: 90%;
    height: 2px;
}

.content {
    margin-top: 2em;
    margin-left: 2em;
}

.row {
    overflow: hidden;
}

.home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mb {
    max-width: 75%;
    min-width: 50%;
    border-radius: 50%;
    border: 5px solid #23466F;
}

.footer-space {
    width: 100%;
    height: 25px;
}

footer {
    width: 100%;
    height: 120px;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 25px;
    background: #222b30;
    margin-left: auto;
    margin-right: auto;
    img {
        margin-top: 40px;
        margin-left: 10px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid #222b30;
        &:hover {
            border: 3px solid #bada55;
        }
    }
}

.blog, .project {
    p {
        color: grey;
    }
}

@media screen and (min-width: 500px) {
    .blog, .project {
        width: 46%;
        float: left;
        overflow: hidden;
        margin-left: 2%;
    }
}